.div {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 1rem;

  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 100%;
    margin: auto;

    label {
        width: 100%;
        text-align: left;

        input {
            width: 100%;
            height: 30px;
        }

        textarea {
          width: 100%;
          height: 100px;
        }

        
        

    }


    .method {
      display: grid;
      grid-template-columns: 1fr 1fr;

      span {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: left;
      }

      label {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: left;
        // grid-column-start: 1;
        // grid-column-end: 2;

        input {
          width: 100%;
          grid-column-start: 3;
          grid-column-end: 3;
        }
      }

    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        
        
        input {
          width: 100%;
          height: 30px;
        }
        
    }

    .info {
      display: grid;
      grid-template-columns: 1fr;

      ul {
        
        li {
          display: grid;
          grid-template-columns: 1fr 1fr;
          text-align: left;
        }
      }
    }


  }
}
