.div {


  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 100%;
    margin: auto;

    label {
        width: 100%;
        text-align: left;

        input {
            width: 100%;
            height: 30px;
        }

        textarea {
          width: 100%;
          height: 100px;
        }

        select {
            display: flex;
            width: 30%;
        }
        

    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        
        input {
          width: 100%;
          height: 30px;
        }
        
    }

    .info {
      display: grid;
      grid-template-columns: 1fr;

      ul {
        
        li {
          display: grid;
          grid-template-columns: 1fr 1fr;
          text-align: left;
        }
      }
    }


  }
}
